#!/usr/bin/make -f
# You must remove unused comment lines for the release package.

%:
	dh $@ --with systemd

override_dh_installinit:
	dh_installinit --name=firstboot-it4smart
	dh_installinit --name=user-notice-it4smart